In [ ]:
# TASK 4 Question 1

In [1]:
list1 = [10,20,90,100]
list2 = [30,40,80]
list3 = [50,60]
list1.insert(2,list2)

In [2]:
list2.insert(2,list3)

In [3]:
print(list1)

[10, 20, [30, 40, [50, 60], 80], 90, 100]

In [5]:
list3.append(70)

In [6]:
print(list1)

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [7]:
# TASK 4 Question 2

In [23]:
list4 = [1,2,9]
list5 = [3,4,5,6]
list4.insert(2,list5)
print(list4)

[1, 2, [3, 4, 5, 6], 9]

In [10]:
list6 = [7,8]
print(list6)

[7, 8]

In [24]:
print(list5)

[3, 4, 5, 6]

In [25]:
list5.insert(4,list6)

In [26]:
print(list5)

[3, 4, 5, 6, [7, 8]]

In [27]:
print(list4)

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

In [28]:
#TASK 5

In [47]:

dict1 = {
  "april_batch" :{
    "student" : {
    "name" : {"Mike"},
   "marks": {"python":80, "maths":70
            }
    }
             }
    }

In [48]:
print(dict1)

{'april_batch': {'student': {'name': {'Mike'}, 'marks': {'python': 80, 'maths': 70}}}}

In [58]:
dict1["april_batch"]["student"]["name"]

{'Mike'}

In [65]:
dict1["april_batch"]["student"]["name"] = ("vinit")

In [66]:
print(dict1)

{'april_batch': {'student': {'name': 'vinit', 'marks': {'python': 80, 'maths': 70}}}}

In [68]:
dict1["april_batch"]["student"]["marks"]["python"]

80