# difference inbuilt function

In [7]:
A = {10, 20, 30, 40, 80} 
B = {100, 30, 80, 40, 60} 
print (A.difference(B))

{10, 20}

In [3]:
print (B.difference(A))

{100, 60}

In [4]:
print (A - B)

{10, 20}

In [5]:
print (B - A)

{100, 60}

# symmetric_difference

In [8]:
set_A = {1, 2, 3, 4, 5} 
set_B = {6, 7, 3, 9, 4}

In [9]:
print(set_A.symmetric_difference(set_B))

{1, 2, 5, 6, 7, 9}

In [12]:
set_A = {"astu", "vinayak", "sanyam", "rishu", "rahul"} 
set_B = {"rahul", "sanyam", "shyam", "astu", "ravi"}

In [13]:
print(set_A ^ set_B)

{'rishu', 'shyam', 'vinayak', 'ravi'}